header .navi{
    
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}
    

.header_haut {
    height: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}


  header .navi{
    width: 100%;
    height: 109px; 
    background-color: #D9D9D9;
    font-family: Inter; 
    margin-top: -45px;
    color: black;
    text-decoration: none;
    list-style: none;
    
}

header .navi ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    
}


header .navi ul{
    display: flex;
    justify-content: space-around;

    
    
}

header .navi a{
    text-decoration: none;
    color: inherit;
}


body{
    padding: 0;
    margin: 0;
}



.contenu{
    margin-top: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    color: #000;
    font-family: Inter;
    
    font-style: normal;
    
    line-height: 165%; 
    

}

.contenu h1 {
    color: #3A8075;
    text-align: center;
    font-family: Irish Grover;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.noms{
    text-align: center;
}

/* .qui_sommes{
    text-align: center;
    color: #3A8075; 
    font-family: Irish Grover;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

} */


.contenu h2{
    color: #3A8075;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.contenu p{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
}

.social_animation{
    transition: 0.5s;
}

.social_animation:hover{
    transform: translateY(-7px);
    color: #000000;
}