.badge {
    width: 250px;
    height: auto;
    } 

.dates{ 
  width: 100%;
  height: 100%;
  color: #3A8075;
  text-align: center;
  font-family:  Nunito Sans;
  font-size: 50px;
  font-weight: 900;
  
}


.themechoix{
   font-family: Nunito; 
   font-size: 25px;
   font-weight: 400;
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: 50%;
}

.semaines {
    margin-top: 117px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.explications{
    margin-top: 148px;
}


.explications p{
    font-family: Inter; 
    width: 872px;
    height: 300px; 
    margin-top: 58px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.explications iframe{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.défis{
  margin-top: 650px;
  margin-bottom: -25px;
}

.défis_jour1 {
  margin-top: 259px;
  color: var(--Vert-fonc, #3A8075);
  text-align: center;
  font-family: Irish Grover;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.défis_jour2 {
  color: var(--Turquoise, #4BC3B7);
  text-align: center;
  font-family: Irish Grover;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  position: relative; 
  margin-top: -260px;
}

.défis_jour3 {
  color: #A7C957;
  text-align: center;
  font-family: Irish Grover;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  position: relative;
  margin-top: -300px;
  margin-left: 490px;
}


/* themes */

.theme h3 span{
  
  margin: 0rem 1rem 1rem 40rem;
  flex-shrink: 0;
  color: #398175;
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  }
  
  .theme2 p{
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  line-height: 136.03%;
  text-align: center;
  margin-top: 5.5rem;
  letter-spacing: 3px;
  }


.theme1{
  background: url('../image/cible.png'),  #398175;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 0rem 4rem 2rem 2rem;
  margin: 1rem 15rem 1rem 15rem;
  flex-shrink: 0;
  border-radius: 30px;
}

.theme1 h2{
  color: #FFF;
  text-align: center;
  font-family: Irish Grover;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  

.theme2{
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  border-radius: 30px;
  background: rgba(153, 228, 170, 0.70);
  justify-content: center;
}

.theme .objectif p {
  color: #398175;
}

.objectif{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

p .objectif{
  
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
}


.objectif span{
  margin: 10rem 10rem 10rem 1rem;
  background-color: #398175;
  color: #FFF;
  padding: 1rem;
  border-radius: 15px; 
}
/* pourquoi */

.pourquoi p{
    width: 872px;
    height: 300px; 
    margin-top: 58px;
    font-family: Inter;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.badges{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.plus{
  margin-top: 200px; 
}

.plus h3{
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.plus p{
  width: 872px;
  height: 300px; 
  margin-top: 40px;
  font-family: Inter;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.badge{
  margin-top: 4vh;
  margin-right: 2vw;
  height: 250px;
  width: auto;
}

.badges_droite{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:0px ;

    
}
.badges_droite h1{
    
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left:0px ;
   
}

.badges_droite p{
  
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left:0px ;
    width: 80%;
}

.badges_droite .a1{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left:0px ;
    width: 80%;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--Vert-fonc, #3A8075);
    background: var(--Blanc, #FFF); 
    text-decoration: none;
    width: 219px;
    height: 40px; 
    border-radius: 15px;
    
    align-items: center;
    justify-content: center;
    text-align: center;

}

.badges_droite .a1:hover{
  border-radius: 10px;
  border: 2px solid var(--Vert-fonc, #3A8075);
  background: var(--Vert-fonc, #3A8075);
}

.badges_droite .a2{
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  margin-left:0px ;
  width: 80%;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid var(--Vert-clair, #99E4AA);
  text-decoration: none;
  width: 219px;
  height: 40px; 
  border-radius: 15px;
  
  align-items: center;
  justify-content: center;
  text-align: center;

}

.badges_droite .a2:hover{
  border-radius: 10px;
  border: 2px solid var(--Vert-clair, #99E4AA);
  background: var(--Vert-clair, #99E4AA);
}


.télé {
  display: flex;
  flex-direction: row;
}

