@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&family=Roboto:wght@300;400&display=swap');


.intro {
    font-family: Inter;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
}

.intro p{
    font-family: Inter;
}

.planche12 {
    justify-content: flex-end;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    background-color: #398175;
    color: white;
    text-decoration: none;
    width: 219px;
    height: 40px; 
    border-radius: 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; 
}

.planche12:hover {
    background-color: white; 
    color: black; 
}
.planche12 a{
    text-decoration: none;
} 

.planche12 a:hover{
    color: rgb(0, 0, 0);
}
.première_rangée{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.deuxième_rangée{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.troisième_rangée{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.premier_badge{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.premier_badge button{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    background-color: #398175;
    text-decoration: none;
    width: 219px;
    height: 40px; 
    border-radius: 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.première_rangée button a{
    text-decoration: none;
    color: white;
}
.deuxième_badge{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.deuxième_badge button{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    background-color: #398175;
    text-decoration: none;
    width: 219px;
    height: 40px; 
    border-radius: 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deuxième_badge button:hover{
    color: #398175;
    background-color: white;
}

.deuxième_rangée button a{
    text-decoration: none;
    color: white;
}
.troisième_badge{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.troisième_badge button{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    background-color: #398175;
    text-decoration: none;
    width: 219px;
    height: 40px; 
    border-radius: 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}



.troisième_rangée button a{
    text-decoration: none;
    color: white;
}
.badge{
margin: auto;
width: 70%;
height: auto;
}